<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="titulo">TARJETA CREDITO</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">AGREGAR TARJETA</h5>
                    <form [formGroup]="form" (ngSubmit)="AgregarTarjeta()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-user" [class.green-icon]="this.form.get('titular')?.valid" [class.red-icon]="this.form.get('titular')?.invalid && form.get('titular')?.touched"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Titular" formControlName="titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-credit-card" [class.green-icon]="this.form.get('numeroTarjeta')?.valid" [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && form.get('numeroTarjeta')?.touched"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Numero Tarjeta" formControlName="numeroTarjeta" maxlength="16">
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('fechaExpiracion')?.valid" [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && form.get('fechaExpiracion')?.touched"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="MM/YY" formControlName="fechaExpiracion" maxlength="5">
                                </div>  
                            </div>
                            <div class="col-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-key" [class.green-icon]="this.form.get('cvv')?.valid" [class.red-icon]="this.form.get('cvv')?.invalid && form.get('cvv')?.touched"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="CVV" formControlName="cvv" maxlength="3">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form?.invalid" class="btn btn-lg btn-secondary" type="submit">
                                <i class="fas fa-database"></i>&nbsp;Aceptar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">LISTADO DE TARJETAS</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listTarjetas; let i = index">
                                <td>{{ tarjeta.titular}}</td>
                                <td>{{ tarjeta.numeroTarjeta}}</td>
                                <td>{{ tarjeta.fechaExpiracion}}</td>
                                <td><i class="far fa-edit text-info"></i></td>
                                <td><i (click)="eliminarTarjeta(i)" class="far fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>